<a href="https://colab.research.google.com/github/AlexShcherb1173/helloworld/blob/master/%D0%A3%D1%80%D0%BE%D0%BA_2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Эпизод 1. Арифметика и вывод

Первое, что мы изучим, — это функция `print`. Вы еще со школы помните, что функция — это со скобочками. Вот в Python тоже есть функции, и самая первая, без которой совсем не весело, — это `print`. Print означает «печать» и как раз подойдет для печати воображаемого чека.

In [ ]:
print("Доброе утро")

In [ ]:
print("Вы купили кофе за 80 денег")

In [ ]:
print("Вы купили булочку за 40 денег")

In [ ]:
print("Вы купили орешки за 50 денег")

In [ ]:
print("Спасибо за покупку")

Теперь всё вместе:

In [ ]:
print("Доброе утро")
print("Вы купили кофе за 80 денег")
print("Вы купили булочку за 40 денег")
print("Вы купили орешки за 50 денег")
print("Спасибо за покупку")

Супер, пора считать сумму покупки. В Python есть все стандартные математические операторы:
* сложение (`+`);
* вычитание (`-`);
* деление (`/`);
* умножение (`*`).

In [ ]:
print("Один кофе, булочка и орешки обойдутся вам в")
print(80+40+50)

Один кофе, булочка и орешки обойдутся вам в
170

In [ ]:
print("А если бы вы не ели булочку – то в")
print(80+50)

А если бы вы не ели булочку – то в
130

In [ ]:
print("А если вы живете в Москве, то один кофе обойдется вам в")
print(80*5)

А если вы живете в Москве, то один кофе обойдется вам в
400

Если вы рассматривали чеки внимательно, то заметили, что там есть налоги. Предположим, что наш налог составляет 10% от покупки. Значит, нужно поделить сумму на 10.

In [ ]:
print("Сумма вашей покупки")
print(80+40+50)
print("В том числе налог на недовольное лицо")
print((80+40+50)/10)

Сумма вашей покупки
170
В том числе налог на недовольное лицо
17.0

### Задача эпизода 1


Написать программу, которая выводит:

```

Кофе    ------   80

Булочка   ----  40

Орешки   ----- 50

Сумма вашей покупки 170

В том числе налог 17.0

```

In [ ]:
print("Кофе ---", 80)
print("Булочка ---", 40)
print("Орешки ---", 50)
print("Сумма вашей покупки", 80+40+50)
print("В том числе налог", (80+40+50)/10)

Кофе --- 80
Булочка --- 40
Орешки --- 50
Сумма вашей покупки 170
В том числе налог 17.0

## Эпизод 2. Переменные

Итак, у нас есть рецепт. Давайте разложим каждый ингредиент отдельно, создадим переменные на английском языке маленькими буквами и без пробелов.

In [ ]:
sugar = 3 # ложки
eggs = 1 # штуки
flour = 3 # столовые ложки
apples = 1 # штуки

print(sugar, eggs, flour, apples)

3 1 3 1

Названия переменных говорят сами за себя. Мы можем изменять их значения в любой момент. Если в переменной было 3, мы можем его заменить его на 1. Например, мы стараемся есть поменьше сахара — вот как это сделать: через `print` мы можем вывести старое и новое значения.

In [ ]:
sugar = 3 # ложки
eggs = 1 # штуки
flour = 3 # столовые ложки
apples = 1 # штуки

print(sugar)

sugar = 1

print(sugar)

3
1

Кстати, теперь, когда у нас стало больше данных, пора узнать, что в `print` можно передавать несколько значений через запятую. Давайте выведем рецепт на 1 порцию. Сократим названия, чтобы не думать о склонениях: «ложек», «ложки» и т. д.

In [ ]:
sugar = 3 # ложки
eggs = 1 # штуки
flour = 3 # столовые ложки
apples = 1 # штуки


print("Сахар", sugar , "ложк.")
print("Яйца", eggs , "шт.")
print("Мука", flour , "стол. ложк.")
print("Яблоки", apples, "шт.")

Сахар 3 ложк.
Яйца 1 шт.
Мука 3 стол. ложк.
Яблоки 1 шт.

Хорошо, теперь добавим, сколько человек придет к нам на ужин.

In [ ]:
guests = 4

### Задача эпизода 2


Написать программу, которая умножает ингредиенты для нужного количества порций:

**1 порция**

Сахар 3 ложк.

Яйца 1 шт.

Мука 3 стол. ложк.

Яблоки 1 шт.



**5 порций**

Сахар 15 ложк.

Яйца 5 шт.

Мука 15 стол. ложк.

Яблоки 5 шт.

In [ ]:
sugar = 3 # ложки
eggs = 1 # штуки
flour = 3 # столовые ложки
apples = 1 # штуки

guests = 5

print("Сахар", sugar*guests, "ложк.")
print("Яйца", eggs*guests, "шт.")
print("Мука", flour*guests, "стол. ложк.")
print("Яблоки", apples*guests, "шт.")

Сахар 15 ложк.
Яйца 5 шт.
Мука 15 стол. ложк.
Яблоки 5 шт.

## Эпизод 3. Ввод и преобразование данных

### Ввод данных

Функция `input()` отлично дополняет `print()` и записывает введенное значение в переменную. Легко и просто:

In [ ]:
name = input()
print("Вы ввели", name)

Artem
Вы ввели Artem

Чтобы пригласить пользователя и рассказать, что ему нужно ввести, можно записать строку в `input()`.

In [ ]:
phone_model = input("Какой смартфон вы хотите купить? ")
print("Вы хотите купить", phone_model)

Какой смартфон вы хотите купить? iPhone
Вы хотите купить iPhone

Дальше всё просто: получаем число, засовываем в переменную и считаем.

In [ ]:
price = input("Сколько стоит эта модель? ")
print("Ваша покупка стоит", price)

Сколько стоит эта модель? 10000
Ваша покупка стоит 10000

Теперь, например, ставка по кредиту – 100 процентов годовых.

In [ ]:
price = input("Сколько стоит эта модель? ")

total_price = price*2

print("Полная стоимость с кредитом:", total_price)

Сколько стоит эта модель? 10000
Полная стоимость с кредитом: 1000010000

А первый взнос — 20%.

In [ ]:
price = input("Сколько стоит эта модель?")

first_payment = price*0.2

print("Первый взнос", first_payment)

Сколько стоит эта модель?100

TypeError: ignored

Пора вернуться в презу и разобраться, что к чему.

In [ ]:
price = input("Сколько стоит эта модель?")

price_type = type(price)

print(price_type)

Сколько стоит эта модель?10000
<class 'str'>

### Преобразования

Число в строку:

In [ ]:
price = 34.5
my_str = "Цена мороженого " + str(price)
print(my_str)

Цена мороженого 34.5

Строку в число:

In [ ]:
a = int("68")*3
b = int("33") + 29
c = int("485") + 256 + int("3")

print(c)

744

Ошибки в преобразованиях:

In [ ]:
a = int("sharp")
b = int("@#")

**Правильный ввод чисел**

Чтобы получить число, нам нужно сперва получить его с помощью функции `input`, затем преобразовать в число с помощью функции `int` или `float`. Также мы можем сразу в функцию `int` или `float` передать `input`, и тогда то, что введет пользователь, будет преобразовано в число — конечно, если это возможно. К примеру, мы можем запросить у пользователя его возраст, цену товара, номер счета в банке, остаток на балансе и т. д.

In [ ]:
price_str = input("Стоимость смартфона")
price_int = int(price_str)

year = int(input("Год выпуска"))

money = float(input("Денег в наличии"))

Окей, так что там с рассрочкой?

In [ ]:
price = input("Сколько стоит эта модель?")
price_int = int(price)

total_price = price_int*2

print("Полная стоимость с кредитом", total_price)

Сколько стоит эта модель?10000
Полная стоимость с кредитом 20000

И с первым взносом.

In [ ]:
price = input("Сколько стоит эта модель?")
price_int = int(price)

first_payment = price_int*0.2

print("Первый взнос", first_payment)

Сколько стоит эта модель?10000
Первый взнос 2000.0

### Задача эпизода 3

Написать программу, которая получает у пользователя сумму рассрочки и выводит:
```
В рассрочку:

6 мес --- 2000

12 мес --- 1000

24 мес --- 500

```

In [ ]:
price = input("Сколько стоит эта модель?")
price_int = int(price)

print("6 мес ---", price_int / 6)
print("12 мес ---", price_int / 12)
print("24 мес ---", price_int / 24)

Сколько стоит эта модель?10000
6 мес --- 1666.6666666666667
12 мес --- 833.3333333333334
24 мес --- 416.6666666666667

## Эпизод 4 — алгоритм решения и f-строки

### f-строки

Выведем текст и переменные в консоль с помощью `print`:

`У меня есть кошка по кличке Мурка ей 2 года.`


Чтобы вывести такую запись на экран, в функцию `print` через запятую нужно передать текст и переменные.

Такая запись — неудобная.

In [ ]:
cat = "Мурка"
age = 2
print("У меня есть кошка по кличке ", cat, " ей ", age, " года ")

У меня есть кошка по кличке  Мурка  ей  2  года

Есть более удобный способ для формирования строк и вставки переменных в строку. Для этого можно использовать f-строки.

Перед кавычками пишем f, далее в `{ }` — имя переменной.

И у нас получилась такая запись:

`У меня есть кошка по кличке {cat}, ей {age} года. `

Вот это уже легче читать.

In [ ]:
#Перед кавычками пишем f, далее в { } скобках — имя переменной

cat = "Мурка"
age = 2
print(f"У меня есть кошка по кличке {cat}, ей {age} года")

У меня есть кошка по кличке Мурка, ей 2 года

### Задача эпизода 4

Написать программу, которая на основе пользовательского ввода

`learn_by_weekdays = `  # сколько часов я учусь по будням

`learn_by_weekends =`   # сколько часов я учусь по выходным

`courses_to_complete =` # сколько курсов нужно закончить


выводит, cколько недель надо учиться в режиме, который указал пользователь, чтобы пройти столько-то курсов, если каждый курс идет 150 часов:


`Если я буду заниматься по ____ часов по будням и ____ по выходным, то за ____ недель смогу пройти ____ курсов`

In [ ]:
learn_by_weekdays = int(input("Часов в будни: "))
learn_by_weekends = int(input("Часов в выходные: "))
courses_to_complete = int(input("Количество курсов: "))

# часов в неделю = learn_by_weekdays * 5 + learn_by_weekends * 2
# часов на курсы = courses_to_complete * 150
# часов на курсы / часов в неделю

learn_by_week = learn_by_weekdays * 5 + learn_by_weekends * 2
hours_for_course = courses_to_complete * 150
weeks_total = hours_for_course / learn_by_week

print(f"Если я буду заниматься по {learn_by_weekdays} часов по будням и {learn_by_weekends} по выходным, то за {weeks_total} недель смогу пройти {courses_to_complete} курсов")

Часов в будни: 1
Часов в выходные: 1
Количество курсов: 1
Если я буду заниматься по 1 часов по будням и 1 по выходным, то за 21.428571428571427 недель смогу пройти 1 курсов

## Селфчек

In [ ]:
# Как выводить сообщения на экран?
print("Test")

Test

In [ ]:
# Как объявлять переменные?
name = "Artem"

In [ ]:
# Какие 3 типа данных есть? Для чего?
int float str

In [ ]:
# Какие есть арифм. операторы?
+ / - *

In [ ]:
# Как получать данные у пользователя?
name = input("Введите ваше имя: ")

In [ ]:
# Как определить тип переменной?
name = "Artem"

type(name)

In [ ]:
# Как менять тип переменной?
name = 50

str(name)
float(name)

In [ ]:
# Как использовать f-строки?
name = "Artem"
print(f"Name: {name}")

Name: Artem



---



---