<a href="https://colab.research.google.com/github/AlexShcherb1173/helloworld/blob/master/%D0%A3%D1%80%D0%BE%D0%BA_4_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Конструкция for in

### Цикл for — перебор списков

In [ ]:
items_list = ["f","f","g","h","j"]

for item in items_list:
  print(item)

f
f
g
h
j

Посмотрим визуализацию в http://pythontutor.com/.

In [ ]:
ex_gfs = ["Иветта", "Лизетта", "Мюзетта", "Жанетта", "Жоржетта"]


for ex in ex_gfs:
    print(ex)


print("Покуда я с вами - клянусь, моя песня не спета")

Иветта
Лизетта
Мюзетта
Жанетта
Жоржетта
Покуда я с вами - клянусь, моя песня не спета

In [ ]:
reasons = ["ты", "все твои мечты", "боль"]
num = 1


for reason in reasons:
  print(f"{num} причина - это {reason}")
  num += 1

1 причина - это ты
2 причина - это все твои мечты
3 причина - это боль

### Цикл и условие можно совмещать

In [ ]:
words = ["воронка", "лавировали", "тележка", "маленький"]


for word in words:
  if "р" in word:
    print(f"{word} – картавое слово")

воронка – картавое слово
лавировали – картавое слово

Посмотрим визуализацию в http://pythontutor.com/.

### Задачка к эпизоду 1

Дан список трат, нужно просуммировать их и вывести общие расходы.

Вывод: `Всего потрачено: 4280`

In [ ]:
expenses = [200,  450,  320, 1100, 650, 280, 325, 490, 830, 420]
total = 0

for payment in expenses:
  total += payment

print(f"Всего потрачено: {total}")

Всего потрачено: 5065

Теперь посмотрим задачку в http://pythontutor.com/.

### И еще одна задачка

Дан список медалек. Нужно посчитать, сколько золотых, серебряных и бронзовых. Ответ должен выводиться в формате:
```
Золотых: 5
Серебряных: 3
Бронзовых: 1
Шоколадных: 1

```

In [ ]:
medals = ["gold", "gold", "silver", "gold", "bronze", "silver", "gold", "gold", "silver", "chocolate"]

gold_count = 0
silver_count = 0
bronze_count = 0
chocolate_count = 0

for medal in medals:
  if medal == "gold":
    gold_count += 1
  elif medal == "silver":
    silver_count += 1
  elif medal == "bronze":
    bronze_count += 1
  elif medal == "chocolate":
    chocolate_count += 1

print(f"Золотых: {gold_count}")
print(f"Серебряных: {silver_count}")
print(f"Бронзовых: {bronze_count}")
print(f"Шоколадных: {chocolate_count}")

Золотых: 5
Серебряных: 3
Бронзовых: 1
Шоколадных: 1

# Range

### Перебирать в цикле можно не только списки

In [ ]:
# как и в срезах, верхняя граница не включается

for num in range(1, 6):
  print("смеяться 1 минуту")

смеяться 1 минуту
смеяться 1 минуту
смеяться 1 минуту
смеяться 1 минуту
смеяться 1 минуту

In [ ]:
# по умолчанию начинаем от нуля

for num in range(10):
  print(f"{num} * 9 = {num * 9}")

0 * 9 = 0
1 * 9 = 9
2 * 9 = 18
3 * 9 = 27
4 * 9 = 36
5 * 9 = 45
6 * 9 = 54
7 * 9 = 63
8 * 9 = 72
9 * 9 = 81

### Можно перебирать индексы

In [ ]:
actions = ['buy it', 'use it', 'break it', 'fix it']

# action_indexes = range(4)
action_indexes = range(len(actions)) # [0, 1, 2, 3]

for act_idx in action_indexes:
   print(act_idx + 1, actions[act_idx])

1 buy it
2 use it
3 break it
4 fix it

### Задачка

Стоимость нового ноутбука выводится со стандартного ввода, например 100 000. Нужно вывести по ней рассрочку на несколько месяцев.
```
1 платеж -- 100 000 / мес
2 платеж -- 50 000 / мес
3 платеж -- 33 000 / мес
4 платеж -- 25 000 / мес
5 платеж -- 20 000 / мес
6 платеж - 16 500 / мес
100 000 платежей - 1 / мес

```

In [ ]:
price = int(input("Введите полную сумму покупки "))

for month in range(1, 13):
  monthly_payment = int(price / month)
  print(f"{month} месяцев - {monthly_payment} руб")

Введите полную сумму покупки 100000
1 месяцев - 100000 руб
2 месяцев - 50000 руб
3 месяцев - 33333 руб
4 месяцев - 25000 руб
5 месяцев - 20000 руб
6 месяцев - 16666 руб
7 месяцев - 14285 руб
8 месяцев - 12500 руб
9 месяцев - 11111 руб
10 месяцев - 10000 руб
11 месяцев - 9090 руб
12 месяцев - 8333 руб

# Селфчек

In [ ]:
# Как перебрать список через for in?

girls = ["Иветта", "Лизетта", "Мюзетта", "Жанетта", "Жоржетта"]

for girl in girls:
  print(girl)

Иветта
Лизетта
Мюзетта
Жанетта
Жоржетта

In [ ]:
# Как перебрать список через for in range?

girls = ["Иветта", "Лизетта", "Мюзетта", "Жанетта", "Жоржетта"]

for i in range(len(girls)):
  print(girls[i])

Иветта
Лизетта
Мюзетта
Жанетта
Жоржетта

In [ ]:
# Как пронумеровать элементы списка с единицы?

girls = ["Иветта", "Лизетта", "Мюзетта", "Жанетта", "Жоржетта"]

for i in range(len(girls)):
  print(i+1,girls[i])

1 Иветта
2 Лизетта
3 Мюзетта
4 Жанетта
5 Жоржетта